<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Event"
            android:label="¨Event" />
        <activity
            android:name=".Skyblock"
            android:label="Skyblock" />
        <activity
            android:name=".Pit"
            android:label="¨Pit" />
        <activity
            android:name=".TnTGames"
            android:label="TnTGames" />
        <activity
            android:name=".Murder"
            android:label="Murder" />
        <activity
            android:name=".BedWars"
            android:label="BedWars" />
        <activity
            android:name=".SkyWars"
            android:label="SkyWars" />
        <activity
            android:name=".menu"
            android:label="Menu" /> <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6251821844352758~2907624350" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".Stats" />
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>